<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/styleSheets/dairy.css" />
  </head>

  <body>
    <div id="main">
      <div id="page">
        <!-------- // when items add to cart // -------->
        <span class="added"></span>
        <!----------------------------------------------->
        <%- include("partials/header") %> <%- include("partials/smallHeader",
        {page:"dairy"}) %>
        <div id="slider">
          <div id="wrapper">
            <div class="banner-img">
              <img src="/images/banners/dairyBanner1.jpg" alt="banner1" />
            </div>
            <div class="banner-img">
              <img src="/images/banners/dairyBanner2.jpg" alt="banner1" />
            </div>
            <div class="banner-img">
              <img src="/images/banners/dairyBanner3.jpg" alt="banner1" />
            </div>
            <div class="banner-img">
              <img src="/images/banners/dairyBanner4.jpg" alt="banner1" />
            </div>
            <div class="banner-img">
              <img src="/images/banners/dairyBanner5.jpg" alt="banner1" />
            </div>
            <div class="banner-img">
              <img src="/images/banners/dairyBanner6.jpg" alt="banner1" />
            </div>
          </div>
        </div>
        <div id="products">
          <% products.forEach((item)=>{ %>
          <div id="card">
            <div class="card-img">
              <img src="<%= item.img %>" alt="<%= item.name %>" />
            </div>
            <div class="info">
              <h5><%= item.name %></h5>
              <select id="quantity">
                <% if (item.quantity) { %> <% if (item.quantity.quantity1) { %>
                <option
                  value="<%= item.quantity.quantity1 %>"
                  data-price="<%= item.quantity.price1 %>"
                >
                  <%= item.quantity.quantity1 %>
                </option>
                <% } %> <% if (item.quantity.quantity2) { %>
                <option
                  value="<%= item.quantity.quantity2 %>"
                  data-price="<%= item.quantity.price2 %>"
                >
                  <%= item.quantity.quantity2 %>
                </option>
                <% } %> <% if (item.quantity.quantity3) { %>
                <option
                  value="<%= item.quantity.quantity3 %>"
                  data-price="<%= item.quantity.price3 %>"
                >
                  <%= item.quantity.quantity3 %>
                </option>
                <% } %> <% if(item.quantity.quantity4) { %>
                <option
                  value="<%= item.quantity.quantity4 %>"
                  data-price="<%= item.quantity.price4 %>"
                >
                  <%=item.quantity.quantity4 %>
                </option>
                <% } %> <% } %>
              </select>
              <h5 class="price">₹<%= item.quantity.price1 %></h5>
            </div>
            <div class="add">Add</div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <a href="/cart">
      <div id="cart">
        <div class="cart-icn">
          <span class="cart-counter"></span>
          <div class="img-div">
            <img src="./images/icons/shopping-basket.png" alt="basket icon" />
          </div>
        </div>
        <span class="view-basket">View Basket</span>
      </div>
    </a>

    <script>
      const wrapper = document.getElementById("wrapper");
      let scrollCount = 0;
      const scrollStep = wrapper.clientWidth;
      const totalScrollWidth = wrapper.scrollWidth;

      setInterval(() => {
        scrollCount += scrollStep;

        if (scrollCount >= totalScrollWidth) {
          scrollCount = 0;
        }

        wrapper.scrollTo({
          left: scrollCount,
          behavior: "smooth",
        });
      }, 3000);

      // -----------------------------------------------------------------------------//

      function updateCounterDisplay() {
        const counter = document.querySelector(".counter");
        const cart = document.querySelector("#cart");
        const cartCounter = document.querySelector(".cart-counter");
        if (!counter) return;
        if (totalCount === 0) {
          counter.style.display = "none";
          cart.style.display = "none";
          cartCounter.style.display = "none";
        } else {
          counter.style.display = "inline-block";
          counter.innerText = totalCount;
          cartCounter.innerText = totalCount;
          cartCounter.style.display = "inline-block";
          cart.style.display = "flex";
        }
      }

      const allCards = document.querySelectorAll("#card");
      let totalCount = parseInt(localStorage.getItem("totalCount")) || 0;

      allCards.forEach((card) => {
        const quantity = card.querySelector("#quantity");
        const displayPrice = card.querySelector(".price");

        quantity.addEventListener("change", () => {
          const selectOption = quantity.options[quantity.selectedIndex];
          const price = selectOption.dataset.price;
          displayPrice.innerText = `₹${price}`;
        });

        const addBtn = card.querySelector(".add");

        addBtn.addEventListener("click", async () => {
          const name = card.querySelector("h5").innerText;
          const img = card.querySelector("img").getAttribute("src");
          const selectOption = quantity.options[quantity.selectedIndex];
          const quantitySelect = selectOption.value;
          const price = selectOption.dataset.price;

          const cartItem = {
            name: name,
            img: img,
            price: price,
            quantity: quantitySelect,
          };
          const res = await fetch("/add-to-cart", {
            method: "POST",
            headers: {
              "content-Type": "application/json",
            },
            body: JSON.stringify(cartItem),
          });
          const data = await res.json();
          if (data) {
            const addMsg = document.querySelector(".added");
            addMsg.style.display = "flex";
            addMsg.innerText = data;
            setTimeout(() => {
              addMsg.style.display = "none";
              addMsg.innerText = "";
            }, 1500);
          }

          totalCount++;
          localStorage.setItem("totalCount", totalCount);
          console.log("btn clicked");
          updateCounterDisplay();
        });
      });

      window.addEventListener("pageshow", () => {
        totalCount = parseInt(localStorage.getItem("totalCount", totalCount));
        updateCounterDisplay();
      });
    </script>
  </body>
</html>
